<div class="container">
  <ng-container *ngIf="this.loading; else elseTemplate">
    <app-loading></app-loading>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="content">
      <h1>Cool Cats and Kittens</h1>

      <div class="cat-lists">
        <div class="cat-list male-cats">
          <h2>Male</h2>
          <ul>
            <li *ngFor="let cat of cats['Male']">{{ cat }}</li>
          </ul>
        </div>

        <div class="cat-list female-cats">
          <h2>Female</h2>
          <ul>
            <li *ngFor="let cat of cats['Female']">{{ cat }}</li>
          </ul>
        </div>
      </div>
    </div>
  </ng-template>
</div>
