.container {
  // Flexbox options
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Recursive", sans-serif;
  color: #f8f8f2;
  min-height: 100vh;

  .content {
    .cat-lists {
      display: flex;
      justify-content: space-around;
    }

    h1 {
      color: #f1fa8c;
      margin-top: 0;
    }
  }
}
